{% extends "layout.html" %}
{% block title %}Explorar{% endblock %}
{% block contenthead %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
{% endblock contenthead %}

{% block content %}
<section class="content">
  <section class="content">
      <div class="error-page">
        <h2 class="headline text-warning"> 404</h2>

        <div class="error-content">
          <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Página no encontrada.</h3>

          <p>
            No pudimos encontrar la página que buscas.<br />
            Regresa al  <a href="/">Inicio</a>
          </p>
        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>

</section>
{% endblock %}
{% block js %}
  {{ super() }}

{% endblock %}